<div class='container'>
    <div class='jumbotron'>
        <h1>Select design.</h1>

        <div>
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="window in windows">
                    <div class="thumbnail">
                        <img ng-src="{{window.url}}">
                        <div class="caption">
                            <h3>{{window.design}}</h3>
                            <p>{{window.description}}</p>
                            <div class="row">
                                <div class="col-md-2">
                                    <button ng-click="add($index)" type="button" class="btn btn-primary">Add</button>
                                </div>
                                <div class="col-md-3">
                                    <button ng-click="remove($index)" type="button" class="btn btn-primary">Remove</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Quantity</div>
                                        <div class="panel-body">
                                            {{window.quantity}} windows
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1"><button ng-click="next()" type="button" class="btn btn-primary">Next</button></div>
        </div>

    </div>
</div>
