<div class='container'>
    <div class='jumbotron'>
        <h1>Select design.</h1>

        <div>
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="window in windows">
                    <div class="thumbnail">
                        <img ng-src="{{window.url}}">
                        <div class="caption">
                            <h3>{{window.design}}</h3>
                            <p>{{window.description}}</p>
                            <button ng-click="chooseDesign()" type="button" class="btn btn-primary">Select</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
